<form [formGroup]="createLinkForm">

  <mat-form-field appearance="outline">
    <mat-label>{{'pages.link_manage.select_type_placeholder' | translate | titlecase}}</mat-label>
    <mat-select formControlName="linkType"
                (selectionChange)="doSelectTypeEvent(createLinkForm.get('linkType').value)">
      <mat-option [value]="option.value"
                  *ngFor="let option of selectTypes">{{ option.title | uppercase }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'pages.link_manage.input_value_placeholder' | translate | titlecase}}</mat-label>
    <input matInput
           type="text"
           formControlName="value">
    <mat-error *ngIf="createLinkForm.get('value').hasError('pattern')
    && !createLinkForm.get('value').hasError('required')">
      {{'pages.link_manage.pattern_error' | translate}}
      <strong>{{createLinkForm.get('linkType').value | uppercase}}</strong>
    </mat-error>
    <mat-error *ngIf="createLinkForm.get('value').hasError('required')">
      {{'pages.link_manage.required_error' | translate}}
    </mat-error>
  </mat-form-field>

  <button (click)="doSubmit()"
          [disabled]="!createLinkForm.valid"
          mat-raised-button
          color="primary">
    <mat-icon>add</mat-icon>
    <span>{{
      (!createLinkForm.get('id').value
        ? 'pages.link_manage.submit_button'
        : 'pages.link_manage.edit_button')
        | translate | titlecase
      }}</span>
  </button>

</form>
